/* RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Button style reset */
button {
  border: none;
  background: none;
  font-size: inherit;
  text-align: center;
  width: auto;
  padding: 0.1rem;
}

/* Main style */
body {
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #95c1c4;
  color: #f1e7ed;
  font-family: 'Signika', sans-serif;
}

main.global-container {
  height: 600px;
  background-color: #f15bb5;
  border-radius: 10px;
  box-shadow: #729092 0 0 10px;
  display: grid;
  grid: 'player playlist' 100%;
}

/* Player section */

.player-container {
  grid-area: player;
  width: 400px;
  height: 100%;
  padding: 20px;
  background-color: #f15bb5;
  border-radius: 10px;
  box-shadow: #729092 0 0 10px;
  display: grid;
  grid:
    'header' 8%
    'current' 46%
    'progress' 5%
    'controller' 20%
    'option' 15%;
  gap: calc(6% / 4);
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .fas {
  padding: 3px;
  border-radius: 50%;
  background-color: #f1e7ed;
  font-size: 1.5rem;
  color: #f15bb5;
}

header .fas.fa-music {
  padding: 7px;
  border-radius: 20%;
}

header .fas.fa-user-circle:hover {
  box-shadow: #ffffff 0 0 10px;
}

header h1 {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* Current media infos */
.current-media {
  grid-area: current;
  /* width: 220px; */
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
}

.current-media__img {
  width: 12.5rem;
  height: 12.5rem;
  background-color: #fcc4e5;
  box-shadow: rgba(50, 50, 50, 0.5) 0 0 5px;
}

/* Progress Bar Area */
.progress-bar {
  grid-area: progress;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 0.8em;
}

/* -> Input global style */
.progress-bar__progress {
  -webkit-appearance: none;
  height: 25%;
  width: 100%;
  margin: 0 1rem;
  background-color: #b83f87;
  border-radius: 4px;
  border-radius: 4px;
  background-image: linear-gradient(#f1e7ed, #f1e7ed);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* -> Input Thumb */
.progress-bar__progress::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.progress-bar__progress::-moz-range-thumb {
  border: none;
  background: none;
}

.progress-bar__progress:hover::-webkit-slider-thumb {
  border: 1px solid #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #f15bb5;
  cursor: pointer;
}

.progress-bar__progress:hover::-moz-range-thumb {
  border: 1px solid #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #f15bb5;
  cursor: pointer;
}

/* Controller button */
.controller {
  grid-area: controller;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
}

.controller .fas {
  display: block;
  color: #fff;
}

.controller .fas:hover {
  color: #b83f87;
  cursor: pointer;
}

.controller .play-pause-btn .fas {
  font-size: 5rem;
}

/*-- Option button --*/
.option-btn {
  grid-area: option;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  position: relative;
}

.option-btn button {
  width: 20%;
}

.option-btn .fas {
  text-align: center;
  color: #b83f87;
}

.option-btn .fa-redo {
  position: relative;
}

.option-btn .repeat-text {
  position: absolute;
  bottom: 0;
  font-family: 'Signika', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.option-btn button:hover .fas {
  color: #fff !important;
  cursor: pointer;
}

.option-btn .playlist-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.option-btn .playlist-icon:hover {
  cursor: pointer;
}

.option-btn .playlist-icon:hover > .bar {
  background-color: #b83f87;
}

.option-btn .bar {
  width: 60%;
  height: 6px;
  margin: 3px 0;
  border-radius: 3px;
  background-color: #f1e7ed;
  z-index: 10;
}

.option-btn .bar:nth-of-type(1),
.option-btn .bar:nth-of-type(2) {
  width: 55%;
  position: absolute;
  z-index: 0;
  transition: transform 0.1s ease;
}

.option-btn .bar:nth-of-type(1) {
  transform-origin: left;
}
.option-btn .bar:nth-of-type(2) {
  transform-origin: right;
}

/*-- Playlist --*/
.playlist-container {
  grid-area: playlist;
  width: 0;
  font-size: 0.9rem;
  overflow: hidden;
  transition: width 0.5s ease;
  display: flex;
  align-items: center;
}

.playlist-container table {
  width: 100%;
}

.playlist-container thead {
  background-color: #b83f87;
  font-size: 1.8em;
  font-weight: 300;
}

.playlist-container th {
  padding: 0.2em;
}

.playlist-container .song-row {
  color: #b83f87;
}

.playlist-container .song-row {
  background-color: #f15bb5;
}

.playlist-container .song-row:hover,
.playlist-container .song-row:nth-of-type(2n):hover {
  color: #fff;
  background-color: #b83f87;
  cursor: pointer;
}

.playlist-container .song-row:nth-of-type(2n) {
  background-color: #fcc4e5;
}

.playlist-container .song-row.row-active {
  color: #fff;
  background-color: #b83f87;
}

.playlist-container td {
  padding: 0.5em;
  padding-left: 0.5em;
}

.playlist-container .song-nbr {
  width: 10%;
  padding-right: 0.2em;
  text-align: right;
}

.playlist-container .song-artist {
  font-style: italic;
  font-size: 0.9em;
}

.show-playlist {
  width: 500px;
  padding: 1rem;
  padding-left: 1.5rem;
}

@media screen and (max-width: 920px) {
  .player-container {
    width: 350px;
  }

  .show-playlist {
    width: 350px;
  }
}

@media screen and (max-width: 710px),
  screen and (max-width: 920px) and (orientation: landscape) {
  body {
    height: auto;
    min-height: 100vh;
    background-color: #f15bb5;
  }

  main.global-container {
    min-height: 100vh;
    width: 100%;
    box-shadow: none;
    grid:
      'player' 100%
      'playlist' 100%;
  }

  .player-container {
    min-height: 600px;
    min-width: 60%;
    margin: 0 auto;
    box-shadow: none;
  }

  .option-btn button:hover .fas {
    color: #b83f87 !important;
    cursor: pointer;
  }

  .active-bar-1 {
    transform: rotate(60deg) translateY(-30%);
  }

  .active-bar-2 {
    transform: rotate(-60deg) translateY(-30%);
  }

  .hide-bar {
    opacity: 0;
  }

  .controller .fas:hover {
    color: #fff;
  }

  .option-btn .playlist-icon:hover > .bar {
    background-color: #fff;
  }

  .playlist-container {
    height: 0;
    width: 100%;
    transition: height 0.5s ease;
    background-color: #b83f87;
  }

  .show-playlist {
    padding: 1.5rem;
    height: 450px;
    transition: none;
  }
}

@media screen and (max-width: 920px) and (orientation: landscape) {
  html {
    font-size: 14px;
  }

  main.global-container {
    min-height: 100vh;
    height: auto;
  }

  .player-container {
    width: 100%;
    min-height: auto;
    height: 100vh;
    padding: inherit 2rem;
    grid:
      'header header' 10%
      'current controller' 70%
      'progress option' 16%;
    gap: calc(4% / 3) 5rem;
  }
}
